*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html{
    font-family: "Montserrat";
    font-size: 16px;
    background-color: #efeded;    
}
.tittleContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
h1{
    font-size: 60px;
    color: #315b43;
}
.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.formContainer p{
    padding: 15px;
    font-size: 25px;
}
.formContainer input{
    padding: 10px;
    width: 24%;
    height: 4%;
    font-family: "Montserrat";
    font-size: 15px;
    text-align: center;
    border-radius: 20px;    
}
.formContainer button{
    margin: 15px;
    padding: 8px;
    width: 12%;
    font-family: "Montserrat";
    font-size: 15px;
    border-radius: 5px;
    background-color: #315b43;
    color: #efeded;
    font-weight: 600;
    border-color: #14251b;
    border-style: double;
}
.formContainer button:hover{
    cursor: pointer;
    background-color: #7DBF99;
    color: black;
    border-color: #315b43;   
}


